body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    background-image: url('background.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    color: #fff;
}

.container {
    background: rgba(0, 0, 0, 0.8);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    width: 80%;
    max-width: 600px;
    padding: 20px;
    text-align: center;
    position: relative;
}

.banner {
    width: 60%;
    border-radius: 10px 10px 0 0;
    margin-bottom: 20px;
}

h1 {
    color: #e50914; /* Cor vibrante inspirada na série */
}

#question {
    font-size: 1.5em;
    margin-bottom: 0px;
}

button {
    background-color: #e50914;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
    font-size: 1em;
}

button:hover {
    background-color: #b20710;
}

.answer {
    background-color: #3a3a3a;
    border: 1px solid #e50914;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0; /* Espaçamento aumentado */
    cursor: pointer;
    color: white;
    font-size: 1em;
}

.answer:hover {
    background-color: #b20710;
}